server {
    listen 8000 ssl default_server;
    server_name imovies.ch; 

    ssl_certificate /etc/ssl/certs/web.imovies.ch.crt;
    ssl_certificate_key /etc/ssl/certs/web.imovies.ch.key;

    ssl_verify_client optional;
    ssl_client_certificate /etc/ssl/certs/root.imovies.ch.crt;

    location / {
        proxy_pass http://${WEB_SERVER_HOST};
        proxy_set_header X-SSL-CERT $ssl_client_escaped_cert;
    }
}
