{% extends "base.html" %}
{% set active_page = "admin" %}
{% block title %}Administration{% endblock %}
{% block content %}
  <h1>Administration</h1>
  <div>
    <table>
      <thead>
        <tr>
          <th>Issued certificates</th>
          <th>Revoked certificates</th>
          <th>Current serial number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ data.n_issued }}</td>
          <td>{{ data.n_revoked }}</td>
          <td>{{ data.next_serial_id }}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
