{% extends "base.html" %}
{% set active_page = "profile" %}
{% block title %}Profile{% endblock %}
{% block content %}
  <main class="grid grid-cols-12 gap-8">
    {% if not user.is_admin() %}
      <div class="card shadow-2xl sm:col-span-7 col-span-full">
        <div class="card-body">
          <form id="issue-form" method="POST" action="{{ url_for('post_issue', uid=user.uid)|urlencode }}">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
              <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight">Issue a certificate</h2>
            </div>

            <div class="w-full mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-10">
              <div class="form-control col-span-full">
                <label for="uid" class="label pt-0">
                  <span class="label-text font-medium leading-6">User ID</span>
                </label>
                <div class="input input-bordered input-sm flex">
                  <span class="flex select-none items-center text-gray-500 sm:text-sm">imovies.ch/profile/</span>
                  <input type="text" id="uid" name="uid" value="{{ user.uid }}" class="block flex-1 border-0 bg-transparent py-1.5" disabled>
                </div>
              </div>

              <div class="form-control sm:col-span-4">
                <label for="email" class="label pt-0">
                  <span class="label-text font-medium leading-6">Email address</span>
                </label>
                <input type="email" id="email" name="email" value="{{ user.email }}" class="input input-bordered input-sm">
              </div>

              <div class="form-control sm:col-span-3">
                <label for="firstname" class="label pt-0">
                  <span class="label-text font-medium leading-6">First name</span>
                </label>
                <input type="text" id="firstname" name="firstname" value="{{ user.firstname }}" class="input input-bordered input-sm">
              </div>

              <div class="form-control sm:col-span-3">
                <label for="lastname" class="label pt-0">
                  <span class="label-text font-medium leading-6">Last name</span>
                </label>
                <input type="text" id="lastname" name="lastname" value="{{ user.lastname }}" class="input input-bordered input-sm">
              </div>

              <div class="form-control col-span-full">
                <label for="passphrase" class="label pt-0">
                  <span class="label-text font-medium leading-6">Certificate passphrase</span>
                </label>
                <input type="password" id="passphrase" name="passphrase" class="input input-bordered input-sm">
              </div>
            </div>

            <div class="mt-6 flex items-center justify-end gap-x-6">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button id="issue-submit" class="btn btn-primary btn-sm">Download</button>
            </div>
          </form>
        </div>
      </div>

      <div class="card shadow-2xl sm:col-span-5 col-span-full">
        <div class="card-body">
          <form id="issue-form" method="POST" action="{{ url_for('post_change_password', uid=user.uid)|urlencode }}">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
              <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight">Change password</h2>
            </div>

            <div class="w-full mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-10">
              <div class="form-control sm:col-span-5">
                <label for="pwd" class="label pt-0">
                  <span class="label-text font-medium leading-6">New password</span>
                </label>
                <input type="password" id="pwd" name="pwd" class="input input-bordered input-sm">
              </div>

              <div class="form-control sm:col-span-5">
                <label for="pwd2" class="label pt-0">
                  <span class="label-text font-medium leading-6">Confirm password</span>
                </label>
                <input type="password" id="pwd2" name="pwd2" class="input input-bordered input-sm">
              </div>
            </div>

            <div class="mt-6 flex items-center justify-end gap-x-6">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button id="issue-submit" class="btn btn-primary btn-sm">Save</button>
            </div>
          </form>
        </div>
      </div>
    {% endif %}

    <div class="card shadow-2xl {% if user.is_admin() %}sm:col-span-7{% endif %} col-span-full">
      <div class="card-body">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight">Certificates</h2>
        </div>

        {% if certificates is not none %}
          {% if certificates|length %}
            <form id="revoke-form" method="POST" action="{{ url_for('post_revoke', uid=user.uid) }}">
              <div class="w-full space-y-6 mt-10">
                <div class="overflow-x-auto">
                  <table class="table table">
                    <thead>
                      <tr>
                        <th>Revoke?</th>
                        <th>Serial number</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email address</th>
                        <th>Common name</th>
                        <th>Not valid before</th>
                        <th>Not valid after</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for certificate in certificates %}
                        <tr>
                          <td>
                            <label>
                              <input type="checkbox" name="serial_id_list" value="{{ certificate.serial_id }}" class="checkbox checkbox" {% if certificate.revoked %}checked{% endif %} {% if user.is_admin() or certificate.revoked %}disabled{% endif %}>
                            </label>
                          </td>
                          <td>{{ certificate.serial_id }}</td>
                          <td>{{ certificate.firstname }}</td>
                          <td>{{ certificate.lastname }}</td>
                          <td>{{ certificate.email }}</td>
                          <td>{{ certificate.commonname }}</td>
                          <td>{{ certificate.notvalidbefore }}</td>
                          <td>{{ certificate.notvalidafter }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>

                {% if not user.is_admin() %}
                  <div class="mt-6 flex items-center justify-end gap-x-6">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button id="revoke-submit" class="btn btn-primary btn-sm" {% if user.is_admin() %}disabled{% endif %}>Revoke selected</button>
                  </div>
                {% endif %}
              </div>
            </form>
          {% else %}
            <p class="mt-10 font-medium text-center">No certificates issued yet.</p>
          {% endif %}
        {% endif %}
      </div>
    </div>

    {% if user.is_admin() %}
      <div class="card shadow-2xl sm:col-span-5 col-span-full">
        <div class="card-body">
          <form id="renew-form" method="POST" action="{{ url_for('post_renew', uid=user.uid)|urlencode }}">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
              <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight">Renew the certificate</h2>
            </div>

            <div class="w-full space-y-6 mt-10">
              <div class="form-control">
                <label for="passphrase" class="label pt-0">
                  <span class="label-text font-medium leading-6">Certificate passphrase</span>
                </label>
                <input type="password" id="passphrase" name="passphrase" class="input input-bordered input-sm">
              </div>
            </div>

            <div class="mt-6 flex items-center justify-end gap-x-6">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button id="renew-submit" class="btn btn-primary btn-sm">Submit</button>
            </div>
          </form>
        </div>
      </div>
    {% endif %}
  </main>
{% endblock %}
